.App {
	text-align: center;
	background-color: #eff2fa;
	color: #4c4848;
	display: flex;
	flex-direction: column;
	height: 100vh;
}

.app-body {
	flex: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.app-body-inner {
	display: flex;
	align-items: center;
	justify-content: space-between;
	max-width: 1240px;
	z-index: 2;
}

.explore-button {
	padding: 5px 10px;
	background-color: #256afe;
	width: fit-content;
	margin-top: 24px;
	border-radius: 6px;
	font-weight: 600;
	font-size: 22px;
	display: flex;
	align-items: center;
	cursor: pointer;
}

.homepage-shadow-overlay {
	position: absolute;
	height: 50vh;
	width: 100%;
	bottom: 0;
	z-index: 1;

	background: linear-gradient(
		rgba(5, 5, 5, 1) 0%,
		rgba(37, 106, 254, 0.1) 20%,
		rgba(37, 106, 254, 0.3) 40%,
		rgba(37, 106, 254, 0.6) 70%,
		rgba(37, 106, 254, 0.8) 90%,
		rgba(37, 106, 254, 1) 100%
	);
}

/* Text-input */
.param input {
	margin-left: 0px;
	border-radius: 0px;
	font-weight: 500;
	font-size: 12px;
}

.search-container {
	display: flex;
	background-color: #e8e8e89f;
	border-radius: 8px;
	padding: 4px 10px;
	height: 36px;
	align-items: center;
	color: #828488;
}

.search-container input {
	border: none;
	background-color: rgba(255, 255, 255, 0);
	margin-left: 8px;
}

.search-container input:focus {
	outline: none;
}
